<div class="user-header">
  <h2>All Users</h2>
  <%= link_to "Add User", new_user_path, :class=>"btn btn-primary btn-sm" %>
</div>

<% if @users.any? %>
  <div class="user-container">
    <% @users.each do |user|%>
      <p><%= user.email %></p>
    <% end %>
  </div>
<% end %>



<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>
  </li>
<% end %>
